div  {
background: #DBBBF5;
}

.special {
  background: #805D93;
}

h1.forms {
  background: #805D93;
  color: #252627;
}

p.error {
  background: red;
}

table.leaderboard{
  width: 100%;
  color: white;
  background: #805D93
}

th.aa {
  background-color: #805D93;
  color: white;
}
